<section class="historia">
    <h2>Historia</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel expedita perspiciatis provident molestiae cumque
        adipisci quidem! Quod, sapiente accusamus aliquid distinctio recusandae quasi deleniti atque impedit, vero
        asperiores aliquam? Reprehenderit!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta vitae, voluptates reiciendis molestiae maiores
        sequi dolore vero, neque nisi odio, minus amet? Dicta, mollitia. Excepturi magnam omnis possimus dicta magni.
    </p>
</section>
<section class="staff">
    <h2>Staff</h2>
    <div class="personas">
        <div class="persona">
            <img src="images/nosotros/nosotros1.jpg" alt="Juan Gomez">
            <h5>Juan Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repellendus, reiciendis quo fugit eos
                veritatis illo, commodi nemo explicabo in minima? Doloremque quidem porro quas ea quia nemo nostrum
                tempore.</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros2.jpg" alt="Juan Gomez">
            <h5>Diana Reyes</h5>
            <h6>Gerente Comercial</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repellendus, reiciendis quo fugit eos
                veritatis
                illo, commodi nemo explicabo in minima? Doloremque quidem porro quas ea quia nemo nostrum tempore.</p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros3.jpg" alt="Juan Gomez">
            <h5>Roberto</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repellendus, reiciendis quo fugit eos
                veritatis
                illo, </p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros4.jpg" alt="Juan Gomez">
            <h5>Ximena Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repellendus, reiciendis quo fugit eos
                veritatis
                illo, commodi nemo explicabo in minima? </p>
        </div>
        <div class="persona">
            <img src="images/nosotros/nosotros5.jpg" alt="Juan Gomez">
            <h5>Juan Gomez</h5>
            <h6>Gerente General</h6>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis repellendus, reiciendis quo fugit eos
                veritatis
                illo, commodi nemo explicabo in minima? Doloremque quidem porro quas ea quia nemo nostrum tempore.</p>
        </div>
    </div>
</section>