<h2>Novedades</h2>
<div>
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, dolor doloremque explicabo sint veniam pariatur
        quae eligendi officia itaque! Quisquam tempora architecto obcaecati unde ratione? Quos quia velit corporis
        nobis.</p>
    <hr />
</div>